p{
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

.uppercase{
    text-transform: uppercase;


}


.lowercase{
    text-transform:capitalize


}


.capitalize{
    text-transform:capitalize


}


.indent{
    text-indent: 50px;


}


.shadow {
    text-shadow: 2px 2px 5px #FF0000;


}


.shadow-blur{
    text-shadow: 2px 2px 5px #00FF00

}   


.overline{
    text-decoration:overline;


}


.line-through{
    text-decoration:line-through;


}


.underline{
    text-decoration: underline;


}


.overline-underline{
    text-decoration: overline line-through underline;


}