nav{
    display: inline-block;
    width: 200px;
    background-color: grey;
}
div{
   background-color: black;
   width: 400px;
   border: 1px solid orange;
   text-align: center;
}
h1{
    color:white;
}
a{
    display:block;
    text-decoration: none;
}